* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.navbar h1 {
    color: white


}


.navbar {
    position: relative;
    height: 100px;
    /* background-image: url(https://tm.ibxk.com.br//2023/05/08/08124551219134.jpg?ims=1200x675); */
    background-color: rgb(83, 20, 20);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    overflow: hidden;
}

.navbar .blabla {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(94, 17, 17, 0.6);
    z-index: 1;

}

.pagina {
background-color:rgb(168, 72, 72);
padding: 2rem;

}




